* {font-family:"微软雅黑"}
#head {padding: 20px; background: #fff;}
#head span {font-size: 40px; padding: 0 0 0 25%; }


.data {
	margin: 2%;
	padding: 1%;
	background: rgba(139,192,74,0.9);
}
.data ul li {
	list-style: none;
	padding: 0.2% 0;
}
.data .title {
	font-size: 24px;
}